/* Generic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variable */
:root {
  /* Transition */

  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

/* Styling For Body */
body {
  background: linear-gradient(90deg, #000, #333);
}

/* Styling For Images Wrapper */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styling For Images Container */
.images-container {
  display: flex;
  gap: 0.4rem;
  perspective: 60rem;
}

/* Styling For Images */
.img {
  width: 5.4rem;
  height: 21rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 1.25s var(--transition), filter 3s var(--transition),
    width 0.3s var(--transition);
  position: relative;
  filter: grayscale(1) brightness(0.5);
  will-change: transform, filter;
}

/* Styling For 3D Effect Starts From Here */

/* Images When Hovered */
.img:hover {
  transform: translateZ(17.375rem);
  filter: inherit;
}

/* Styling For Shadows */
.img::before,
.img::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 100%;
  right: -1.25rem;
}

.img::after {
  left: -1.25rem;
}

/* Images When Hovered RIGHT */
.img:hover + * {
  transform: translateZ(14.77rem) rotateY(35deg);
  filter: grayscale(0.2) brightness(0.9);
  z-index: -1;
}

.img:hover + * + * {
  transform: translateZ(9.73rem) rotateY(40deg);
  filter: grayscale(0.4) brightness(0.8);
  z-index: -2;
}

.img:hover + * + * + * {
  transform: translateZ(4.17rem) rotateY(35deg);
  filter: grayscale(0.6) brightness(0.7);
  z-index: -3;
}

.img:hover + * + * + * + * {
  transform: translateZ(1.1rem) rotateY(25deg);
  filter: grayscale(0.8) brightness(0.6);
  z-index: -4;
}

/* Images When Hovered LEFT */
.img:has(+ :hover) {
  transform: translateZ(14.77rem) rotateY(-35deg);
  filter: grayscale(0.2) brightness(0.9);
}

.img:has(+ * + :hover) {
  transform: translateZ(9.73rem) rotateY(-40deg);
  filter: grayscale(0.4) brightness(0.8);
}

.img:has(+ * + * + :hover) {
  transform: translateZ(4.17rem) rotateY(-35deg);
  filter: grayscale(0.6) brightness(0.7);
}

.img:has(+ * + * + * + :hover) {
  transform: translateZ(1.1rem) rotateY(-25deg);
  filter: grayscale(0.8) brightness(0.6);
}

/* Opening The Image When Clicked */
.open {
  width: 25vw;
  transform: translateZ(17.375rem);
  filter: inherit;
  z-index: 1;
  margin: 0 0.45vw;
}
